<div class="dogtor d-flex justify-content-center">
  <div class="container row justify-content-center align-items-center">
    <form *ngIf="!success else successSpan" class="needs-validation col-md-8 text-center" [formGroup]="form"
      (ngSubmit)="send()">
      <div class="row m-3">
        <legend>Trabajá con nosotros.</legend>
        <span>Nuestro equipo no para de crecer. Disponemos de los mejores talentos.</span>
      </div>
      <!--Error Messagge-->
      <div *ngIf="error then errorSpan"></div>
      <!--Form Persona-->
      <app-form-persona [pass]="pass" [person]="person" [sended]="sended"></app-form-persona>
      <div class="row">
        <!--Especialidad-->
        <div class="col-md-6">
          <label for="especialidad">Especialidad</label>
          <mat-form-field class="mat-selector">
            <mat-label>Elejir al menos una</mat-label>
            <mat-select formControlName="especialidad" multiple required>
              <mat-option *ngFor="let specialtie of specialties" [value]="specialtie">{{specialtie}}</mat-option>
              <div class="input-group">
                <input #newSpecialtie class="form-control m-0" type="text" placeholder="Agregar Especialidad">
                <div class="input-group-append">
                  <button (click)="addSpecialtie(newSpecialtie.value)" class="btn btn-outline-secondary m-0"
                    type="button">
                    <i-feather name="plus" style="color: green;"></i-feather>
                  </button>
                </div>
              </div>
            </mat-select>
          </mat-form-field>
        </div>
        <!--Imágen-->
        <div class="col-md-6">
          <label style="width: 100%;" for="portada">Imágenes de perfil</label>
          <label style="width: 100%;" class="image-upload-container">
            <input (input)="getImage($event)" #imageInput class="file-input form-control" type="file"
              accept=".jpeg,.jpg,.png,.svg" multiple="multiple">
          </label>
          <!--Errores-->
          <div *ngIf="!files.length && sended then reqError">
          </div>
        </div>
      </div>
      <!--send-->
      <div class="row">
        <div class="col-6">
          <button (click)="cancel()" type="button" class="btn btn-secondary px-5 link py-2 my-3 ">Cancelar</button>
        </div>
        <div class="col-6" *ngIf="!spinner else loading">
          <button type="submit" class="btn btn-primary px-5 link py-2 my-3">Enviar</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!--Templates-->
<ng-template #reqError>
  <div class="invalid-feedback d-block" style="width: 100%;">
    *Este campo es obligatorio*
  </div>
</ng-template>
<!--ERROR -> Patron incorrecto-->
<ng-template #patError>
  <div class="invalid-feedback d-block" style="width: 100%;">
    *El formato del campo es incorrecto*
  </div>
</ng-template>
<!--ERROR -> minimo-->
<ng-template #minError>
  <div class="invalid-feedback d-block" style="width: 100%;">
    *El valor de este campo es muy corto/bajo*
  </div>
</ng-template>
<!--ERROR -> maximo-->
<ng-template #maxError>
  <div class="invalid-feedback d-block" style="width: 100%;">
    *El valor de este campo es muy largo/alto*
  </div>
</ng-template>
<!--Loading-->
<ng-template #loading>
  <div class="col-6">
    <button class="btn btn-primary px-4 link py-2 my-3" type="button" disabled>
      <span class="spinner-border spinner-border-sm mx-2" role="status" aria-hidden="true"></span>
      <span class="sr-only">Procesando...</span>
    </button>
  </div>
</ng-template>
<!--Error-->
<ng-template #errorSpan>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Algo ha salido mal.</strong>
    {{error}}
    <button (click)="error=false" class="m-0" type="button" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</ng-template>
<!--Success-->
<ng-template #successSpan>
  <div class="col-8 alert alert-info" role="alert">
    <legend>¡Gracias por elegirnos!</legend>
    <p>Enviamos un mensaje a tu correo electrónico. Por favor, sigue los pasos y verifíca tu
      cuenta.</p>
    <p>Ten en cuenta que tu perfil es sometido a una evaluación, y la aprobación puede tardar unos días.</p>
    <p>Ten paciencia, te enviaremos un mensaje cuando tu cuenta esté activada.</p>
    <strong (click)="goHome()">Volver a la página principal</strong>
  </div>
</ng-template>
