<div class="row">
  <div class="alert alert-warning border-warning" role="alert">
    <input (input)="searchValue(searchInput.value)" #searchInput class="form-control me-2" type="search"
      placeholder="Filtrar por Especialidad, o {{getFilterTypeString()}}" aria-label="Search" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let o of coincidences" [value]="o.value">
        {{o.value}} <span class="float-end text-muted">{{o.type}}</span>
      </mat-option>
    </mat-autocomplete>
  </div>
  <ul class="list-unstyled d-flex flex-wrap">
    <li *ngFor="let a of appointments">
      <app-appointment-detail [appointment]="a.data" [filter]="search" [filterBy]="filterBy"
        (coincidenceValue)="receiveCoincidence($event)"></app-appointment-detail>
    </li>
  </ul>
</div>
