<div class="row">
  <h4>Cargar Turno</h4>
  <div *ngIf="specialties.length" class="col-3 text-center text-muted">
    <!--Especialidades-->
    <h5>Especialidades</h5>
    <app-specialties-list [specialties]="specialties" (specialtieSelected)="receiveSpecialtie($event)">
    </app-specialties-list>
  </div>
  <div *ngIf="specialists" class="col-3 text-center text-muted">
    <!--Especialistas-->
    <h5>Especialistas</h5>
    <app-simple-users-list [users]="specialists" (userSelected)="receiveSpecialist($event)"></app-simple-users-list>
  </div>
  <div *ngIf="specialist" class="col-3 text-center text-muted">
    <h5>Horario</h5>
    <!--Dia-->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Fecha</label>
      </div>
      <select (change)="receiveDate(date.value)" #date class="form-control" id="inputGroupSelect01">
        <option selected disabled>Elije una fecha</option>
        <option *ngFor="let date of dates" value="{{date}}">{{date.toLocaleDateString()}}</option>
      </select>
    </div>
    <!--Hora-->
    <ul class="list-group scroll">
      <li [class.active]="hoursTaked.includes(hs)" class="list-group-item" role="button" *ngFor="let hs of hours">{{hs}}
        hs</li>
    </ul>
  </div>
</div>
<div *ngIf="specialists?.length" class="row">
  <h4>Pre Turno</h4>
  <div class="col-8">
    <app-appointment-detail [appointment]="getAppointment()"></app-appointment-detail>
  </div>
</div>
