<section class="page">
  <div class="page-wrap d-flex flex-row align-items-center">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-md-12 text-center">
                  <span class="display-1 d-block">Error 404</span>
                  <div class="mb-4 lead">No se encontró el sitio. Te fuiste de la clínica virtual.</div>
                  <a routerLink="/" class="btn btn-link">Volver a la página principal</a>
              </div>
          </div>
      </div>
  </div>
</section>
