.profile-image {
  max-width: 200px;
  aspect-ratio: 1;
  border-radius: 50%;
}

label {
  font-weight: bolder;
}

.select-image {
  vertical-align: text-top !important;
  max-width: 2rem;
  align-self: baseline;
  cursor: pointer;
}

.hide {
  display: none;
}

.new-image {
  i-feather {
    min-width: 55px;
    top: -0.4rem;
    position: relative;
  }
  &:hover {
    cursor: pointer;
    background-color: #eaeaea;
  }
  min-height: 110px !important;
}

.remove-image {
  position: absolute;
  right: 0;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.344);
}
