<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3">Clinica Virtual System</a>
  <button (click)="dropMenu=!dropMenu" class="navbar-toggler position-absolute d-md-none collapsed" type="button"
    data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!--
    <input #search [class.show]="dropMenu" class="form-control form-control-dark w-100 d-md-block" type="text"
    placeholder="Search" aria-label="Search">
  -->
  <ul [class.show]="dropMenu" class="navbar-nav px-3 d-md-block">
    <li class="nav-item text-nowrap">
      <a class="nav-link" (click)="signOut()">Salir</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a [class.active]="active === 0" (click)="setActive(0)" [routerLink]="[{ outlets: { adminMenu:['']}}]"
              class="nav-link active">
              <i-feather name="star"></i-feather>
              Especialistas
            </a>
          </li>
          <li class="nav-item">
            <a [class.active]="active === 1" (click)="setActive(1)" [routerLink]="[{ outlets: { adminMenu:['user']}}]"
              class="nav-link">
              <i-feather name="users"></i-feather>
              Pacientes
            </a>
          </li>
          <li class="nav-item">
            <a [class.active]="active === 2" (click)="setActive(2)" [routerLink]="[{ outlets: { adminMenu:['admin']}}]"
              class="nav-link">
              <i-feather name="user-check"></i-feather>
              Administradores
            </a>
          </li>
          <li class="nav-item">
            <a [class.active]="active === 3" (click)="setActive(3)"
              [routerLink]="[{ outlets: { adminMenu:['new-appointment']}}]" class="nav-link">
              <i-feather name="file-plus"></i-feather>
              Nuevo Turno
            </a>
          </li>
          <li class="nav-item">
            <a [class.active]="active === 4" (click)="setActive(4)"
              [routerLink]="[{ outlets: { adminMenu:['appointments']}}]" class="nav-link">
              <i-feather name="list"></i-feather>
              Ver Turnos
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 main">
      <div class="d-flex justify-content-center flex-wrap align-items-center pt-3 pb-2 mb-3">
        <router-outlet name='adminMenu'></router-outlet>
      </div>
    </main>

  </div>
</div>
