<label for="especialidad">Especialidad</label>
<mat-form-field [formGroup]="formWithSpecialtieInput" class="mat-selector">
  <mat-label>Elejir al menos una:</mat-label>
  <mat-select formControlName="especialidad" multiple required>
    <mat-option *ngFor="let specialtie of specialties" [value]="specialtie">{{specialtie}}</mat-option>
    <div class="input-group">
      <input #newSpecialtie class="form-control m-0" type="text" placeholder="Agregar Especialidad">
      <div class="input-group-append">
        <button (click)="addSpecialtie(newSpecialtie.value)" class="btn btn-outline-secondary m-0" type="button">
          <i-feather name="plus" style="color: green;"></i-feather>
        </button>
      </div>
    </div>
  </mat-select>
</mat-form-field>
