//sobreescribiendo material
.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}
.mat-form-field-underline {
  display: none;
}
.mat-form-field {
  background-color: white;
  width: 100%;
}

/*Importing material*/
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
/* Importing Bootstrap SCSS file. */
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/variables";

/*Colors
$primary: $primary;
$danger: $danger;
$gray: $gray-700;
*/

/*General*/

html,
body {
  height: 100%;
  font-size: 14px;
  width: 100%;
  height: auto;
  margin: 0;
  overflow-x: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dogtor {
  background: url("assets/dogtor.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100vh;
}

/*Querys*/
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
